* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

*::before,
::after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
